.main_header {
    background: #f00; /*temporary*/
}

.header_content {
    display: flex;
    min-width: 800px;
    width: 800px;
    align-items:baseline;
    justify-content: space-between;
    vertical-align: middle;
    margin: auto;
    flex-direction: row;
}

.title_and_level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}