.main_content {
    position: relative;
}

.main_content main {
    min-width: 800px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.playfield {
    margin-top: 20px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
  